@model BankruptcyLaw.Web.ViewModels.Cases.CaseDetailsViewModel
@{
    ViewData["Title"] = "Case Details";
}

<h1>@this.ViewData["Title"]</h1>

<hr />

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">DateFiled</th>
            <th scope="col">CaseNumber</th>
            <th scope="col">CaseStatus</th>
            <th scope="col">AttorneyName</th>
            <th scope="col">JudgeName</th>
            <th scope="col">TrusteeName</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.DateFiled.Date.ToString("yyyy-MM-dd")</td>
            <td>@Model.CaseNumber</td>
            <td>@Model.CaseStatus</td>
            <td>@Model.AttorneyName</td>
            <td>@Model.JudgeName</td>
            <td>@Model.TrusteeName</td>
        </tr>
    </tbody>
</table>
<div class="row mt-4 mb-4">
    <div class="btn-group-vertical col-lg-3 align-self-lg-start">
        @*<button type="button" class="btn btn-secondary">Court Documents</button>*@
        <a type="button" href="/ClientDocuments/All?caseId=@Model.CaseId" class="btn btn-secondary">Client Documents</a>
        <a type="button" href="/Hearings/CaseHearings?caseId=@Model.CaseId" class="btn btn-secondary">Hearings</a>
        @*<button type="button" class="btn btn-secondary">Creditors</button>*@
        @*<a type="button" class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="Chat">Chat</a>*@

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            Add a new Note
        </button>
    </div>
    <div class="col-lg-9" id="NotesBox">
        <table data-order='[[ 2, "desc" ]]' id="notesTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Note</th>
                    <th>Note left by</th>
                    <th>Left on</th>
                </tr>
            </thead>
            @foreach (var note in Model.Notes)
            {
                <tr>
                    <td>
                        @note.Content
                    </td>
                    <td>
                        @note.OriginalPoster
                    </td>
                    <td>
                        @note.CreatedOn.ToString("MM/dd/yyyy hh:mm tt")
                    </td>
                </tr>
            }
        </table>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Add a new Note</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="input-group">
                                <textarea id="newNote" rows="6" class="form-control" aria-label="With textarea"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" onclick="CreateNote()" class="btn btn-primary" data-dismiss="modal" href="">Add Note</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form method="post" id="antiForgeryForm"></form>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#notesTable').DataTable();
        });
    </script>
    <script>
        function CreateNote() {
            var newNoteContent = document.getElementById('newNote').value;
            document.getElementById('newNote').value = '';

            var table = $('#notesTable').DataTable();

            var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();

            var data = {
                CaseId: "@Model.CaseId",
                Content: newNoteContent,
                CreatorName: '',
            }

            $.ajax({
                type: "POST",
                url: "/api/Notes",
                data: JSON.stringify(data),
                headers: {
                    'X-CSRF-TOKEN': antiForgeryToken
                },
                success: function (data) {
                    table
                        .row.add([data.content, data.author, data.createdOn])
                        .draw();
                },
                contentType: 'application/json',
            });

            //fetch(`/api/Notes`, {

            //    method: 'POST',
            //    body: JSON.stringify(data),
            //    headers: {
            //        'X-CSRF-TOKEN': antiForgeryToken,
            //        'content-type': 'application/json',
            //    },
            //});

        }</script>>
}
